#nprogress {
  @apply pointer-events-none;

  .bar {
    @apply fixed;
    @apply bottom-0;
    @apply left-0;
    @apply w-full;
    @apply h-0.5;
    @apply z-50;

    background-image: linear-gradient(
      to right,
      #27c4f5,
      #a307ba,
      #fd8d32,
      #70c050,
      #27c4f5
    );
  }
}

.no-scrollbar::-webkit-scrollbar,
[no-scrollbar]::-webkit-scrollbar {
  display: none;
  appearance: none;
}

.no-scrollbar,
[no-scrollbar] {
  -ms-overflow-style: none;
  scrollbar-width: none;

  @apply overscroll-none;
}

.shortcut-key {
  @apply inline-flex;
  @apply max-h-6;
  @apply min-w-6;
  @apply py-0.5;
  @apply p-1;
  @apply items-center;
  @apply justify-center;
  @apply shrink-0;
  @apply rounded;
  @apply border;
  @apply border-b-2;
  @apply bg-primary/5;
  @apply font-geist;
  @apply capitalize;
  @apply text-muted-foreground;
  @apply tracking-tight;
  @apply font-medium;
}
