@mixin red-light-theme {
  --background: var(--color-white);
  --foreground: var(--color-neutral-800);
  --muted: var(--color-neutral-100);
  --muted-foreground: var(--color-neutral-800);
  --popover: var(--color-white);
  --popover-foreground: var(--color-neutral-800);
  --card: var(--color-white);
  --card-foreground: var(--color-neutral-800);
  --border: var(--color-neutral-200);
  --input: var(--color-neutral-100);
  --primary: var(--color-red-500);
  --primary-foreground: var(--color-white);
  --secondary: var(--color-neutral-100);
  --secondary-foreground: var(--color-white);
  --accent: var(--color-neutral-100);
  --accent-foreground: var(--color-black);
  --destructive: var(--color-red-600);
  --destructive-foreground: var(--color-white);
  --ring: var(--color-red-500);
  --chart-1: var(--color-red-500);
  --chart-2: var(--color-red-400);
  --chart-3: var(--color-red-300);
  --chart-4: var(--color-red-200);
  --chart-5: var(--color-red-100);
  --sidebar-background: var(--color-red-500);
  --sidebar-foreground: var(--color-white);
  --sidebar-primary: var(--color-red-400);
  --sidebar-primary-foreground: var(--color-white);
  --sidebar-accent: var(--color-red-300);
  --sidebar-accent-foreground: var(--color-white);
  --sidebar-border: var(--color-red-600);
  --sidebar-ring: var(--color-red-500);
}

@mixin orange-light-theme {
  --background: var(--color-white);
  --foreground: var(--color-neutral-800);
  --muted: var(--color-neutral-100);
  --muted-foreground: var(--color-neutral-800);
  --popover: var(--color-white);
  --popover-foreground: var(--color-neutral-800);
  --card: var(--color-white);
  --card-foreground: var(--color-neutral-800);
  --border: var(--color-neutral-200);
  --input: var(--color-neutral-100);
  --primary: var(--color-orange-500);
  --primary-foreground: var(--color-white);
  --secondary: var(--color-neutral-100);
  --secondary-foreground: var(--color-white);
  --accent: var(--color-neutral-100);
  --accent-foreground: var(--color-black);
  --destructive: var(--color-orange-600);
  --destructive-foreground: var(--color-white);
  --ring: var(--color-orange-500);
  --chart-1: var(--color-orange-500);
  --chart-2: var(--color-orange-400);
  --chart-3: var(--color-orange-300);
  --chart-4: var(--color-orange-200);
  --chart-5: var(--color-orange-100);
  --sidebar-background: var(--color-orange-500);
  --sidebar-foreground: var(--color-white);
  --sidebar-primary: var(--color-orange-400);
  --sidebar-primary-foreground: var(--color-white);
  --sidebar-accent: var(--color-orange-300);
  --sidebar-accent-foreground: var(--color-white);
  --sidebar-border: var(--color-orange-600);
  --sidebar-ring: var(--color-orange-500);
}

@mixin amber-light-theme {
  --background: var(--color-white);
  --foreground: var(--color-neutral-800);
  --muted: var(--color-neutral-100);
  --muted-foreground: var(--color-neutral-800);
  --popover: var(--color-white);
  --popover-foreground: var(--color-neutral-800);
  --card: var(--color-white);
  --card-foreground: var(--color-neutral-800);
  --border: var(--color-neutral-200);
  --input: var(--color-neutral-100);
  --primary: var(--color-amber-500);
  --primary-foreground: var(--color-white);
  --secondary: var(--color-neutral-100);
  --secondary-foreground: var(--color-white);
  --accent: var(--color-neutral-100);
  --accent-foreground: var(--color-black);
  --destructive: var(--color-amber-600);
  --destructive-foreground: var(--color-white);
  --ring: var(--color-amber-500);
  --chart-1: var(--color-amber-500);
  --chart-2: var(--color-amber-400);
  --chart-3: var(--color-amber-300);
  --chart-4: var(--color-amber-200);
  --chart-5: var(--color-amber-100);
  --sidebar-background: var(--color-amber-500);
  --sidebar-foreground: var(--color-white);
  --sidebar-primary: var(--color-amber-400);
  --sidebar-primary-foreground: var(--color-white);
  --sidebar-accent: var(--color-amber-300);
  --sidebar-accent-foreground: var(--color-white);
  --sidebar-border: var(--color-amber-600);
  --sidebar-ring: var(--color-amber-500);
}

@mixin yellow-light-theme {
  --background: var(--color-white);
  --foreground: var(--color-neutral-800);
  --muted: var(--color-neutral-100);
  --muted-foreground: var(--color-neutral-800);
  --popover: var(--color-white);
  --popover-foreground: var(--color-neutral-800);
  --card: var(--color-white);
  --card-foreground: var(--color-neutral-800);
  --border: var(--color-neutral-200);
  --input: var(--color-neutral-100);
  --primary: var(--color-yellow-500);
  --primary-foreground: var(--color-white);
  --secondary: var(--color-neutral-100);
  --secondary-foreground: var(--color-white);
  --accent: var(--color-neutral-100);
  --accent-foreground: var(--color-black);
  --destructive: var(--color-yellow-600);
  --destructive-foreground: var(--color-white);
  --ring: var(--color-yellow-500);
  --chart-1: var(--color-yellow-500);
  --chart-2: var(--color-yellow-400);
  --chart-3: var(--color-yellow-300);
  --chart-4: var(--color-yellow-200);
  --chart-5: var(--color-yellow-100);
  --sidebar-background: var(--color-yellow-500);
  --sidebar-foreground: var(--color-white);
  --sidebar-primary: var(--color-yellow-400);
  --sidebar-primary-foreground: var(--color-white);
  --sidebar-accent: var(--color-yellow-300);
  --sidebar-accent-foreground: var(--color-white);
  --sidebar-border: var(--color-yellow-600);
  --sidebar-ring: var(--color-yellow-500);
}

@mixin lime-light-theme {
  --background: var(--color-white);
  --foreground: var(--color-neutral-800);
  --muted: var(--color-neutral-100);
  --muted-foreground: var(--color-neutral-800);
  --popover: var(--color-white);
  --popover-foreground: var(--color-neutral-800);
  --card: var(--color-white);
  --card-foreground: var(--color-neutral-800);
  --border: var(--color-neutral-200);
  --input: var(--color-neutral-100);
  --primary: var(--color-lime-500);
  --primary-foreground: var(--color-white);
  --secondary: var(--color-neutral-100);
  --secondary-foreground: var(--color-white);
  --accent: var(--color-neutral-100);
  --accent-foreground: var(--color-black);
  --destructive: var(--color-lime-600);
  --destructive-foreground: var(--color-white);
  --ring: var(--color-lime-500);
  --chart-1: var(--color-lime-500);
  --chart-2: var(--color-lime-400);
  --chart-3: var(--color-lime-300);
  --chart-4: var(--color-lime-200);
  --chart-5: var(--color-lime-100);
  --sidebar-background: var(--color-lime-500);
  --sidebar-foreground: var(--color-white);
  --sidebar-primary: var(--color-lime-400);
  --sidebar-primary-foreground: var(--color-white);
  --sidebar-accent: var(--color-lime-300);
  --sidebar-accent-foreground: var(--color-white);
  --sidebar-border: var(--color-lime-600);
  --sidebar-ring: var(--color-lime-500);
}

@mixin green-light-theme {
  --background: var(--color-white);
  --foreground: var(--color-neutral-800);
  --muted: var(--color-neutral-100);
  --muted-foreground: var(--color-neutral-800);
  --popover: var(--color-white);
  --popover-foreground: var(--color-neutral-800);
  --card: var(--color-white);
  --card-foreground: var(--color-neutral-800);
  --border: var(--color-neutral-200);
  --input: var(--color-neutral-100);
  --primary: var(--color-green-500);
  --primary-foreground: var(--color-white);
  --secondary: var(--color-neutral-100);
  --secondary-foreground: var(--color-white);
  --accent: var(--color-neutral-100);
  --accent-foreground: var(--color-black);
  --destructive: var(--color-green-600);
  --destructive-foreground: var(--color-white);
  --ring: var(--color-green-500);
  --chart-1: var(--color-green-500);
  --chart-2: var(--color-green-400);
  --chart-3: var(--color-green-300);
  --chart-4: var(--color-green-200);
  --chart-5: var(--color-green-100);
  --sidebar-background: var(--color-green-500);
  --sidebar-foreground: var(--color-white);
  --sidebar-primary: var(--color-green-400);
  --sidebar-primary-foreground: var(--color-white);
  --sidebar-accent: var(--color-green-300);
  --sidebar-accent-foreground: var(--color-white);
  --sidebar-border: var(--color-green-600);
  --sidebar-ring: var(--color-green-500);
}

@mixin emerald-light-theme {
  --background: var(--color-white);
  --foreground: var(--color-neutral-800);
  --muted: var(--color-neutral-100);
  --muted-foreground: var(--color-neutral-800);
  --popover: var(--color-white);
  --popover-foreground: var(--color-neutral-800);
  --card: var(--color-white);
  --card-foreground: var(--color-neutral-800);
  --border: var(--color-neutral-200);
  --input: var(--color-neutral-100);
  --primary: var(--color-emerald-500);
  --primary-foreground: var(--color-white);
  --secondary: var(--color-neutral-100);
  --secondary-foreground: var(--color-white);
  --accent: var(--color-neutral-100);
  --accent-foreground: var(--color-black);
  --destructive: var(--color-emerald-600);
  --destructive-foreground: var(--color-white);
  --ring: var(--color-emerald-500);
  --chart-1: var(--color-emerald-500);
  --chart-2: var(--color-emerald-400);
  --chart-3: var(--color-emerald-300);
  --chart-4: var(--color-emerald-200);
  --chart-5: var(--color-emerald-100);
  --sidebar-background: var(--color-emerald-500);
  --sidebar-foreground: var(--color-white);
  --sidebar-primary: var(--color-emerald-400);
  --sidebar-primary-foreground: var(--color-white);
  --sidebar-accent: var(--color-emerald-300);
  --sidebar-accent-foreground: var(--color-white);
  --sidebar-border: var(--color-emerald-600);
  --sidebar-ring: var(--color-emerald-500);
}

@mixin teal-light-theme {
  --background: var(--color-white);
  --foreground: var(--color-neutral-800);
  --muted: var(--color-neutral-100);
  --muted-foreground: var(--color-neutral-800);
  --popover: var(--color-white);
  --popover-foreground: var(--color-neutral-800);
  --card: var(--color-white);
  --card-foreground: var(--color-neutral-800);
  --border: var(--color-neutral-200);
  --input: var(--color-neutral-100);
  --primary: var(--color-teal-500);
  --primary-foreground: var(--color-white);
  --secondary: var(--color-neutral-100);
  --secondary-foreground: var(--color-white);
  --accent: var(--color-neutral-100);
  --accent-foreground: var(--color-black);
  --destructive: var(--color-teal-600);
  --destructive-foreground: var(--color-white);
  --ring: var(--color-teal-500);
  --chart-1: var(--color-teal-500);
  --chart-2: var(--color-teal-400);
  --chart-3: var(--color-teal-300);
  --chart-4: var(--color-teal-200);
  --chart-5: var(--color-teal-100);
  --sidebar-background: var(--color-teal-500);
  --sidebar-foreground: var(--color-white);
  --sidebar-primary: var(--color-teal-400);
  --sidebar-primary-foreground: var(--color-white);
  --sidebar-accent: var(--color-teal-300);
  --sidebar-accent-foreground: var(--color-white);
  --sidebar-border: var(--color-teal-600);
  --sidebar-ring: var(--color-teal-500);
}

@mixin cyan-light-theme {
  --background: var(--color-white);
  --foreground: var(--color-neutral-800);
  --muted: var(--color-neutral-100);
  --muted-foreground: var(--color-neutral-800);
  --popover: var(--color-white);
  --popover-foreground: var(--color-neutral-800);
  --card: var(--color-white);
  --card-foreground: var(--color-neutral-800);
  --border: var(--color-neutral-200);
  --input: var(--color-neutral-100);
  --primary: var(--color-cyan-500);
  --primary-foreground: var(--color-white);
  --secondary: var(--color-neutral-100);
  --secondary-foreground: var(--color-white);
  --accent: var(--color-neutral-100);
  --accent-foreground: var(--color-black);
  --destructive: var(--color-cyan-600);
  --destructive-foreground: var(--color-white);
  --ring: var(--color-cyan-500);
  --chart-1: var(--color-cyan-500);
  --chart-2: var(--color-cyan-400);
  --chart-3: var(--color-cyan-300);
  --chart-4: var(--color-cyan-200);
  --chart-5: var(--color-cyan-100);
  --sidebar-background: var(--color-cyan-500);
  --sidebar-foreground: var(--color-white);
  --sidebar-primary: var(--color-cyan-400);
  --sidebar-primary-foreground: var(--color-white);
  --sidebar-accent: var(--color-cyan-300);
  --sidebar-accent-foreground: var(--color-white);
  --sidebar-border: var(--color-cyan-600);
  --sidebar-ring: var(--color-cyan-500);
}

@mixin sky-light-theme {
  --background: var(--color-white);
  --foreground: var(--color-neutral-800);
  --muted: var(--color-neutral-100);
  --muted-foreground: var(--color-neutral-800);
  --popover: var(--color-white);
  --popover-foreground: var(--color-neutral-800);
  --card: var(--color-white);
  --card-foreground: var(--color-neutral-800);
  --border: var(--color-neutral-200);
  --input: var(--color-neutral-100);
  --primary: var(--color-sky-500);
  --primary-foreground: var(--color-white);
  --secondary: var(--color-neutral-100);
  --secondary-foreground: var(--color-white);
  --accent: var(--color-neutral-100);
  --accent-foreground: var(--color-black);
  --destructive: var(--color-sky-600);
  --destructive-foreground: var(--color-white);
  --ring: var(--color-sky-500);
  --chart-1: var(--color-sky-500);
  --chart-2: var(--color-sky-400);
  --chart-3: var(--color-sky-300);
  --chart-4: var(--color-sky-200);
  --chart-5: var(--color-sky-100);
  --sidebar-background: var(--color-sky-500);
  --sidebar-foreground: var(--color-white);
  --sidebar-primary: var(--color-sky-400);
  --sidebar-primary-foreground: var(--color-white);
  --sidebar-accent: var(--color-sky-300);
  --sidebar-accent-foreground: var(--color-white);
  --sidebar-border: var(--color-sky-600);
  --sidebar-ring: var(--color-sky-500);
}

@mixin blue-light-theme {
  --background: var(--color-white);
  --foreground: var(--color-neutral-800);
  --muted: var(--color-neutral-100);
  --muted-foreground: var(--color-neutral-800);
  --popover: var(--color-white);
  --popover-foreground: var(--color-neutral-800);
  --card: var(--color-white);
  --card-foreground: var(--color-neutral-800);
  --border: var(--color-neutral-200);
  --input: var(--color-neutral-100);
  --primary: var(--color-blue-500);
  --primary-foreground: var(--color-white);
  --secondary: var(--color-neutral-100);
  --secondary-foreground: var(--color-white);
  --accent: var(--color-neutral-100);
  --accent-foreground: var(--color-black);
  --destructive: var(--color-blue-600);
  --destructive-foreground: var(--color-white);
  --ring: var(--color-blue-500);
  --chart-1: var(--color-blue-500);
  --chart-2: var(--color-blue-400);
  --chart-3: var(--color-blue-300);
  --chart-4: var(--color-blue-200);
  --chart-5: var(--color-blue-100);
  --sidebar-background: var(--color-blue-500);
  --sidebar-foreground: var(--color-white);
  --sidebar-primary: var(--color-blue-400);
  --sidebar-primary-foreground: var(--color-white);
  --sidebar-accent: var(--color-blue-300);
  --sidebar-accent-foreground: var(--color-white);
  --sidebar-border: var(--color-blue-600);
  --sidebar-ring: var(--color-blue-500);
}

@mixin indigo-light-theme {
  --background: var(--color-white);
  --foreground: var(--color-neutral-800);
  --muted: var(--color-neutral-100);
  --muted-foreground: var(--color-neutral-800);
  --popover: var(--color-white);
  --popover-foreground: var(--color-neutral-800);
  --card: var(--color-white);
  --card-foreground: var(--color-neutral-800);
  --border: var(--color-neutral-200);
  --input: var(--color-neutral-100);
  --primary: var(--color-indigo-500);
  --primary-foreground: var(--color-white);
  --secondary: var(--color-neutral-100);
  --secondary-foreground: var(--color-white);
  --accent: var(--color-neutral-100);
  --accent-foreground: var(--color-black);
  --destructive: var(--color-indigo-600);
  --destructive-foreground: var(--color-white);
  --ring: var(--color-indigo-500);
  --chart-1: var(--color-indigo-500);
  --chart-2: var(--color-indigo-400);
  --chart-3: var(--color-indigo-300);
  --chart-4: var(--color-indigo-200);
  --chart-5: var(--color-indigo-100);
  --sidebar-background: var(--color-indigo-500);
  --sidebar-foreground: var(--color-white);
  --sidebar-primary: var(--color-indigo-400);
  --sidebar-primary-foreground: var(--color-white);
  --sidebar-accent: var(--color-indigo-300);
  --sidebar-accent-foreground: var(--color-white);
  --sidebar-border: var(--color-indigo-600);
  --sidebar-ring: var(--color-indigo-500);
}

@mixin violet-light-theme {
  --background: var(--color-white);
  --foreground: var(--color-neutral-800);
  --muted: var(--color-neutral-100);
  --muted-foreground: var(--color-neutral-800);
  --popover: var(--color-white);
  --popover-foreground: var(--color-neutral-800);
  --card: var(--color-white);
  --card-foreground: var(--color-neutral-800);
  --border: var(--color-neutral-200);
  --input: var(--color-neutral-100);
  --primary: var(--color-violet-500);
  --primary-foreground: var(--color-white);
  --secondary: var(--color-neutral-100);
  --secondary-foreground: var(--color-white);
  --accent: var(--color-neutral-100);
  --accent-foreground: var(--color-black);
  --destructive: var(--color-violet-600);
  --destructive-foreground: var(--color-white);
  --ring: var(--color-violet-500);
  --chart-1: var(--color-violet-500);
  --chart-2: var(--color-violet-400);
  --chart-3: var(--color-violet-300);
  --chart-4: var(--color-violet-200);
  --chart-5: var(--color-violet-100);
  --sidebar-background: var(--color-violet-500);
  --sidebar-foreground: var(--color-white);
  --sidebar-primary: var(--color-violet-400);
  --sidebar-primary-foreground: var(--color-white);
  --sidebar-accent: var(--color-violet-300);
  --sidebar-accent-foreground: var(--color-white);
  --sidebar-border: var(--color-violet-600);
  --sidebar-ring: var(--color-violet-500);
}

@mixin purple-light-theme {
  --background: var(--color-white);
  --foreground: var(--color-neutral-800);
  --muted: var(--color-neutral-100);
  --muted-foreground: var(--color-neutral-800);
  --popover: var(--color-white);
  --popover-foreground: var(--color-neutral-800);
  --card: var(--color-white);
  --card-foreground: var(--color-neutral-800);
  --border: var(--color-neutral-200);
  --input: var(--color-neutral-100);
  --primary: var(--color-purple-500);
  --primary-foreground: var(--color-white);
  --secondary: var(--color-neutral-100);
  --secondary-foreground: var(--color-white);
  --accent: var(--color-neutral-100);
  --accent-foreground: var(--color-black);
  --destructive: var(--color-purple-600);
  --destructive-foreground: var(--color-white);
  --ring: var(--color-purple-500);
  --chart-1: var(--color-purple-500);
  --chart-2: var(--color-purple-400);
  --chart-3: var(--color-purple-300);
  --chart-4: var(--color-purple-200);
  --chart-5: var(--color-purple-100);
  --sidebar-background: var(--color-purple-500);
  --sidebar-foreground: var(--color-white);
  --sidebar-primary: var(--color-purple-400);
  --sidebar-primary-foreground: var(--color-white);
  --sidebar-accent: var(--color-purple-300);
  --sidebar-accent-foreground: var(--color-white);
  --sidebar-border: var(--color-purple-600);
  --sidebar-ring: var(--color-purple-500);
}

@mixin fuchsia-light-theme {
  --background: var(--color-white);
  --foreground: var(--color-neutral-800);
  --muted: var(--color-neutral-100);
  --muted-foreground: var(--color-neutral-800);
  --popover: var(--color-white);
  --popover-foreground: var(--color-neutral-800);
  --card: var(--color-white);
  --card-foreground: var(--color-neutral-800);
  --border: var(--color-neutral-200);
  --input: var(--color-neutral-100);
  --primary: var(--color-fuchsia-500);
  --primary-foreground: var(--color-white);
  --secondary: var(--color-neutral-100);
  --secondary-foreground: var(--color-white);
  --accent: var(--color-neutral-100);
  --accent-foreground: var(--color-black);
  --destructive: var(--color-fuchsia-600);
  --destructive-foreground: var(--color-white);
  --ring: var(--color-fuchsia-500);
  --chart-1: var(--color-fuchsia-500);
  --chart-2: var(--color-fuchsia-400);
  --chart-3: var(--color-fuchsia-300);
  --chart-4: var(--color-fuchsia-200);
  --chart-5: var(--color-fuchsia-100);
  --sidebar-background: var(--color-fuchsia-500);
  --sidebar-foreground: var(--color-white);
  --sidebar-primary: var(--color-fuchsia-400);
  --sidebar-primary-foreground: var(--color-white);
  --sidebar-accent: var(--color-fuchsia-300);
  --sidebar-accent-foreground: var(--color-white);
  --sidebar-border: var(--color-fuchsia-600);
  --sidebar-ring: var(--color-fuchsia-500);
}

@mixin pink-light-theme {
  --background: var(--color-white);
  --foreground: var(--color-neutral-800);
  --muted: var(--color-neutral-100);
  --muted-foreground: var(--color-neutral-800);
  --popover: var(--color-white);
  --popover-foreground: var(--color-neutral-800);
  --card: var(--color-white);
  --card-foreground: var(--color-neutral-800);
  --border: var(--color-neutral-200);
  --input: var(--color-neutral-100);
  --primary: var(--color-pink-500);
  --primary-foreground: var(--color-white);
  --secondary: var(--color-neutral-100);
  --secondary-foreground: var(--color-white);
  --accent: var(--color-neutral-100);
  --accent-foreground: var(--color-black);
  --destructive: var(--color-pink-600);
  --destructive-foreground: var(--color-white);
  --ring: var(--color-pink-500);
  --chart-1: var(--color-pink-500);
  --chart-2: var(--color-pink-400);
  --chart-3: var(--color-pink-300);
  --chart-4: var(--color-pink-200);
  --chart-5: var(--color-pink-100);
  --sidebar-background: var(--color-pink-500);
  --sidebar-foreground: var(--color-white);
  --sidebar-primary: var(--color-pink-400);
  --sidebar-primary-foreground: var(--color-white);
  --sidebar-accent: var(--color-pink-300);
  --sidebar-accent-foreground: var(--color-white);
  --sidebar-border: var(--color-pink-600);
  --sidebar-ring: var(--color-pink-500);
}

@mixin rose-light-theme {
  --background: var(--color-white);
  --foreground: var(--color-neutral-800);
  --muted: var(--color-neutral-100);
  --muted-foreground: var(--color-neutral-800);
  --popover: var(--color-white);
  --popover-foreground: var(--color-neutral-800);
  --card: var(--color-white);
  --card-foreground: var(--color-neutral-800);
  --border: var(--color-neutral-200);
  --input: var(--color-neutral-100);
  --primary: var(--color-rose-500);
  --primary-foreground: var(--color-white);
  --secondary: var(--color-neutral-100);
  --secondary-foreground: var(--color-white);
  --accent: var(--color-neutral-100);
  --accent-foreground: var(--color-black);
  --destructive: var(--color-rose-600);
  --destructive-foreground: var(--color-white);
  --ring: var(--color-rose-500);
  --chart-1: var(--color-rose-500);
  --chart-2: var(--color-rose-400);
  --chart-3: var(--color-rose-300);
  --chart-4: var(--color-rose-200);
  --chart-5: var(--color-rose-100);
  --sidebar-background: var(--color-rose-500);
  --sidebar-foreground: var(--color-white);
  --sidebar-primary: var(--color-rose-400);
  --sidebar-primary-foreground: var(--color-white);
  --sidebar-accent: var(--color-rose-300);
  --sidebar-accent-foreground: var(--color-white);
  --sidebar-border: var(--color-rose-600);
  --sidebar-ring: var(--color-rose-500);
}

@mixin slate-light-theme {
  --background: var(--color-white);
  --foreground: var(--color-neutral-800);
  --muted: var(--color-neutral-100);
  --muted-foreground: var(--color-neutral-800);
  --popover: var(--color-white);
  --popover-foreground: var(--color-neutral-800);
  --card: var(--color-white);
  --card-foreground: var(--color-neutral-800);
  --border: var(--color-neutral-200);
  --input: var(--color-neutral-100);
  --primary: var(--color-slate-500);
  --primary-foreground: var(--color-white);
  --secondary: var(--color-neutral-100);
  --secondary-foreground: var(--color-white);
  --accent: var(--color-neutral-100);
  --accent-foreground: var(--color-black);
  --destructive: var(--color-slate-600);
  --destructive-foreground: var(--color-white);
  --ring: var(--color-slate-500);
  --chart-1: var(--color-slate-500);
  --chart-2: var(--color-slate-400);
  --chart-3: var(--color-slate-300);
  --chart-4: var(--color-slate-200);
  --chart-5: var(--color-slate-100);
  --sidebar-background: var(--color-slate-500);
  --sidebar-foreground: var(--color-white);
  --sidebar-primary: var(--color-slate-400);
  --sidebar-primary-foreground: var(--color-white);
  --sidebar-accent: var(--color-slate-300);
  --sidebar-accent-foreground: var(--color-white);
  --sidebar-border: var(--color-slate-600);
  --sidebar-ring: var(--color-slate-500);
}

@mixin gray-light-theme {
  --background: var(--color-white);
  --foreground: var(--color-neutral-800);
  --muted: var(--color-neutral-100);
  --muted-foreground: var(--color-neutral-800);
  --popover: var(--color-white);
  --popover-foreground: var(--color-neutral-800);
  --card: var(--color-white);
  --card-foreground: var(--color-neutral-800);
  --border: var(--color-neutral-200);
  --input: var(--color-neutral-100);
  --primary: var(--color-gray-500);
  --primary-foreground: var(--color-white);
  --secondary: var(--color-neutral-100);
  --secondary-foreground: var(--color-white);
  --accent: var(--color-neutral-100);
  --accent-foreground: var(--color-black);
  --destructive: var(--color-gray-600);
  --destructive-foreground: var(--color-white);
  --ring: var(--color-gray-500);
  --chart-1: var(--color-gray-500);
  --chart-2: var(--color-gray-400);
  --chart-3: var(--color-gray-300);
  --chart-4: var(--color-gray-200);
  --chart-5: var(--color-gray-100);
  --sidebar-background: var(--color-gray-500);
  --sidebar-foreground: var(--color-white);
  --sidebar-primary: var(--color-gray-400);
  --sidebar-primary-foreground: var(--color-white);
  --sidebar-accent: var(--color-gray-300);
  --sidebar-accent-foreground: var(--color-white);
  --sidebar-border: var(--color-gray-600);
  --sidebar-ring: var(--color-gray-500);
}

@mixin zinc-light-theme {
  --background: var(--color-white);
  --foreground: var(--color-neutral-800);
  --muted: var(--color-neutral-100);
  --muted-foreground: var(--color-neutral-800);
  --popover: var(--color-white);
  --popover-foreground: var(--color-neutral-800);
  --card: var(--color-white);
  --card-foreground: var(--color-neutral-800);
  --border: var(--color-neutral-200);
  --input: var(--color-neutral-100);
  --primary: var(--color-zinc-500);
  --primary-foreground: var(--color-white);
  --secondary: var(--color-neutral-100);
  --secondary-foreground: var(--color-white);
  --accent: var(--color-neutral-100);
  --accent-foreground: var(--color-black);
  --destructive: var(--color-zinc-600);
  --destructive-foreground: var(--color-white);
  --ring: var(--color-zinc-500);
  --chart-1: var(--color-zinc-500);
  --chart-2: var(--color-zinc-400);
  --chart-3: var(--color-zinc-300);
  --chart-4: var(--color-zinc-200);
  --chart-5: var(--color-zinc-100);
  --sidebar-background: var(--color-zinc-500);
  --sidebar-foreground: var(--color-white);
  --sidebar-primary: var(--color-zinc-400);
  --sidebar-primary-foreground: var(--color-white);
  --sidebar-accent: var(--color-zinc-300);
  --sidebar-accent-foreground: var(--color-white);
  --sidebar-border: var(--color-zinc-600);
  --sidebar-ring: var(--color-zinc-500);
}

@mixin neutral-light-theme {
  --background: var(--color-white);
  --foreground: var(--color-neutral-800);
  --muted: var(--color-neutral-100);
  --muted-foreground: var(--color-neutral-800);
  --popover: var(--color-white);
  --popover-foreground: var(--color-neutral-800);
  --card: var(--color-white);
  --card-foreground: var(--color-neutral-800);
  --border: var(--color-neutral-200);
  --input: var(--color-neutral-100);
  --primary: var(--color-neutral-500);
  --primary-foreground: var(--color-white);
  --secondary: var(--color-neutral-100);
  --secondary-foreground: var(--color-white);
  --accent: var(--color-neutral-100);
  --accent-foreground: var(--color-black);
  --destructive: var(--color-neutral-600);
  --destructive-foreground: var(--color-white);
  --ring: var(--color-neutral-500);
  --chart-1: var(--color-neutral-500);
  --chart-2: var(--color-neutral-400);
  --chart-3: var(--color-neutral-300);
  --chart-4: var(--color-neutral-200);
  --chart-5: var(--color-neutral-100);
  --sidebar-background: var(--color-neutral-500);
  --sidebar-foreground: var(--color-white);
  --sidebar-primary: var(--color-neutral-400);
  --sidebar-primary-foreground: var(--color-white);
  --sidebar-accent: var(--color-neutral-300);
  --sidebar-accent-foreground: var(--color-white);
  --sidebar-border: var(--color-neutral-600);
  --sidebar-ring: var(--color-neutral-500);
}

@mixin stone-light-theme {
  --background: var(--color-white);
  --foreground: var(--color-neutral-800);
  --muted: var(--color-neutral-100);
  --muted-foreground: var(--color-neutral-800);
  --popover: var(--color-white);
  --popover-foreground: var(--color-neutral-800);
  --card: var(--color-white);
  --card-foreground: var(--color-neutral-800);
  --border: var(--color-neutral-200);
  --input: var(--color-neutral-100);
  --primary: var(--color-stone-500);
  --primary-foreground: var(--color-white);
  --secondary: var(--color-neutral-100);
  --secondary-foreground: var(--color-white);
  --accent: var(--color-neutral-100);
  --accent-foreground: var(--color-black);
  --destructive: var(--color-stone-600);
  --destructive-foreground: var(--color-white);
  --ring: var(--color-stone-500);
  --chart-1: var(--color-stone-500);
  --chart-2: var(--color-stone-400);
  --chart-3: var(--color-stone-300);
  --chart-4: var(--color-stone-200);
  --chart-5: var(--color-stone-100);
  --sidebar-background: var(--color-stone-500);
  --sidebar-foreground: var(--color-white);
  --sidebar-primary: var(--color-stone-400);
  --sidebar-primary-foreground: var(--color-white);
  --sidebar-accent: var(--color-stone-300);
  --sidebar-accent-foreground: var(--color-white);
  --sidebar-border: var(--color-stone-600);
  --sidebar-ring: var(--color-stone-500);
}

@mixin red-dark-theme {
  --background: var(--color-neutral-900);
  --foreground: var(--color-neutral-100);
  --muted: var(--color-neutral-800);
  --muted-foreground: var(--color-neutral-100);
  --popover: var(--color-neutral-900);
  --popover-foreground: var(--color-neutral-100);
  --card: var(--color-neutral-800);
  --card-foreground: var(--color-neutral-100);
  --border: var(--color-neutral-700);
  --input: var(--color-neutral-800);
  --primary: var(--color-red-500);
  --primary-foreground: var(--color-white);
  --secondary: var(--color-neutral-800);
  --secondary-foreground: var(--color-white);
  --accent: var(--color-neutral-800);
  --accent-foreground: var(--color-white);
  --destructive: var(--color-red-600);
  --destructive-foreground: var(--color-white);
  --ring: var(--color-red-500);
  --chart-1: var(--color-red-500);
  --chart-2: var(--color-red-400);
  --chart-3: var(--color-red-300);
  --chart-4: var(--color-red-200);
  --chart-5: var(--color-red-100);
  --sidebar-background: var(--color-red-500);
  --sidebar-foreground: var(--color-white);
  --sidebar-primary: var(--color-red-400);
  --sidebar-primary-foreground: var(--color-white);
  --sidebar-accent: var(--color-red-300);
  --sidebar-accent-foreground: var(--color-white);
  --sidebar-border: var(--color-red-600);
  --sidebar-ring: var(--color-red-500);
}

@mixin orange-dark-theme {
  --background: ;
  --foreground: ;
  --muted: ;
  --muted-foreground: ;
  --popover: ;
  --popover-foreground: ;
  --card: ;
  --card-foreground: ;
  --border: ;
  --input: ;
  --primary: ;
  --primary-foreground: ;
  --secondary: ;
  --secondary-foreground: ;
  --accent: ;
  --accent-foreground: ;
  --destructive: ;
  --destructive-foreground: ;
  --ring: ;
  --chart-1: ;
  --chart-2: ;
  --chart-3: ;
  --chart-4: ;
  --chart-5: ;
  --sidebar-background: ;
  --sidebar-foreground: ;
  --sidebar-primary: ;
  --sidebar-primary-foreground: ;
  --sidebar-accent: ;
  --sidebar-accent-foreground: ;
  --sidebar-border: ;
  --sidebar-ring: ;
}

@mixin amber-dark-theme {
  --background: ;
  --foreground: ;
  --muted: ;
  --muted-foreground: ;
  --popover: ;
  --popover-foreground: ;
  --card: ;
  --card-foreground: ;
  --border: ;
  --input: ;
  --primary: ;
  --primary-foreground: ;
  --secondary: ;
  --secondary-foreground: ;
  --accent: ;
  --accent-foreground: ;
  --destructive: ;
  --destructive-foreground: ;
  --ring: ;
  --chart-1: ;
  --chart-2: ;
  --chart-3: ;
  --chart-4: ;
  --chart-5: ;
  --sidebar-background: ;
  --sidebar-foreground: ;
  --sidebar-primary: ;
  --sidebar-primary-foreground: ;
  --sidebar-accent: ;
  --sidebar-accent-foreground: ;
  --sidebar-border: ;
  --sidebar-ring: ;
}

@mixin yellow-dark-theme {
  --background: ;
  --foreground: ;
  --muted: ;
  --muted-foreground: ;
  --popover: ;
  --popover-foreground: ;
  --card: ;
  --card-foreground: ;
  --border: ;
  --input: ;
  --primary: ;
  --primary-foreground: ;
  --secondary: ;
  --secondary-foreground: ;
  --accent: ;
  --accent-foreground: ;
  --destructive: ;
  --destructive-foreground: ;
  --ring: ;
  --chart-1: ;
  --chart-2: ;
  --chart-3: ;
  --chart-4: ;
  --chart-5: ;
  --sidebar-background: ;
  --sidebar-foreground: ;
  --sidebar-primary: ;
  --sidebar-primary-foreground: ;
  --sidebar-accent: ;
  --sidebar-accent-foreground: ;
  --sidebar-border: ;
  --sidebar-ring: ;
}

@mixin lime-dark-theme {
  --background: ;
  --foreground: ;
  --muted: ;
  --muted-foreground: ;
  --popover: ;
  --popover-foreground: ;
  --card: ;
  --card-foreground: ;
  --border: ;
  --input: ;
  --primary: ;
  --primary-foreground: ;
  --secondary: ;
  --secondary-foreground: ;
  --accent: ;
  --accent-foreground: ;
  --destructive: ;
  --destructive-foreground: ;
  --ring: ;
  --chart-1: ;
  --chart-2: ;
  --chart-3: ;
  --chart-4: ;
  --chart-5: ;
  --sidebar-background: ;
  --sidebar-foreground: ;
  --sidebar-primary: ;
  --sidebar-primary-foreground: ;
  --sidebar-accent: ;
  --sidebar-accent-foreground: ;
  --sidebar-border: ;
  --sidebar-ring: ;
}

@mixin green-dark-theme {
  --background: ;
  --foreground: ;
  --muted: ;
  --muted-foreground: ;
  --popover: ;
  --popover-foreground: ;
  --card: ;
  --card-foreground: ;
  --border: ;
  --input: ;
  --primary: ;
  --primary-foreground: ;
  --secondary: ;
  --secondary-foreground: ;
  --accent: ;
  --accent-foreground: ;
  --destructive: ;
  --destructive-foreground: ;
  --ring: ;
  --chart-1: ;
  --chart-2: ;
  --chart-3: ;
  --chart-4: ;
  --chart-5: ;
  --sidebar-background: ;
  --sidebar-foreground: ;
  --sidebar-primary: ;
  --sidebar-primary-foreground: ;
  --sidebar-accent: ;
  --sidebar-accent-foreground: ;
  --sidebar-border: ;
  --sidebar-ring: ;
}

@mixin emerald-dark-theme {
  --background: ;
  --foreground: ;
  --muted: ;
  --muted-foreground: ;
  --popover: ;
  --popover-foreground: ;
  --card: ;
  --card-foreground: ;
  --border: ;
  --input: ;
  --primary: ;
  --primary-foreground: ;
  --secondary: ;
  --secondary-foreground: ;
  --accent: ;
  --accent-foreground: ;
  --destructive: ;
  --destructive-foreground: ;
  --ring: ;
  --chart-1: ;
  --chart-2: ;
  --chart-3: ;
  --chart-4: ;
  --chart-5: ;
  --sidebar-background: ;
  --sidebar-foreground: ;
  --sidebar-primary: ;
  --sidebar-primary-foreground: ;
  --sidebar-accent: ;
  --sidebar-accent-foreground: ;
  --sidebar-border: ;
  --sidebar-ring: ;
}

@mixin teal-dark-theme {
  --background: ;
  --foreground: ;
  --muted: ;
  --muted-foreground: ;
  --popover: ;
  --popover-foreground: ;
  --card: ;
  --card-foreground: ;
  --border: ;
  --input: ;
  --primary: ;
  --primary-foreground: ;
  --secondary: ;
  --secondary-foreground: ;
  --accent: ;
  --accent-foreground: ;
  --destructive: ;
  --destructive-foreground: ;
  --ring: ;
  --chart-1: ;
  --chart-2: ;
  --chart-3: ;
  --chart-4: ;
  --chart-5: ;
  --sidebar-background: ;
  --sidebar-foreground: ;
  --sidebar-primary: ;
  --sidebar-primary-foreground: ;
  --sidebar-accent: ;
  --sidebar-accent-foreground: ;
  --sidebar-border: ;
  --sidebar-ring: ;
}

@mixin cyan-dark-theme {
  --background: ;
  --foreground: ;
  --muted: ;
  --muted-foreground: ;
  --popover: ;
  --popover-foreground: ;
  --card: ;
  --card-foreground: ;
  --border: ;
  --input: ;
  --primary: ;
  --primary-foreground: ;
  --secondary: ;
  --secondary-foreground: ;
  --accent: ;
  --accent-foreground: ;
  --destructive: ;
  --destructive-foreground: ;
  --ring: ;
  --chart-1: ;
  --chart-2: ;
  --chart-3: ;
  --chart-4: ;
  --chart-5: ;
  --sidebar-background: ;
  --sidebar-foreground: ;
  --sidebar-primary: ;
  --sidebar-primary-foreground: ;
  --sidebar-accent: ;
  --sidebar-accent-foreground: ;
  --sidebar-border: ;
  --sidebar-ring: ;
}

@mixin sky-dark-theme {
  --background: ;
  --foreground: ;
  --muted: ;
  --muted-foreground: ;
  --popover: ;
  --popover-foreground: ;
  --card: ;
  --card-foreground: ;
  --border: ;
  --input: ;
  --primary: ;
  --primary-foreground: ;
  --secondary: ;
  --secondary-foreground: ;
  --accent: ;
  --accent-foreground: ;
  --destructive: ;
  --destructive-foreground: ;
  --ring: ;
  --chart-1: ;
  --chart-2: ;
  --chart-3: ;
  --chart-4: ;
  --chart-5: ;
  --sidebar-background: ;
  --sidebar-foreground: ;
  --sidebar-primary: ;
  --sidebar-primary-foreground: ;
  --sidebar-accent: ;
  --sidebar-accent-foreground: ;
  --sidebar-border: ;
  --sidebar-ring: ;
}

@mixin blue-dark-theme {
  --background: ;
  --foreground: ;
  --muted: ;
  --muted-foreground: ;
  --popover: ;
  --popover-foreground: ;
  --card: ;
  --card-foreground: ;
  --border: ;
  --input: ;
  --primary: ;
  --primary-foreground: ;
  --secondary: ;
  --secondary-foreground: ;
  --accent: ;
  --accent-foreground: ;
  --destructive: ;
  --destructive-foreground: ;
  --ring: ;
  --chart-1: ;
  --chart-2: ;
  --chart-3: ;
  --chart-4: ;
  --chart-5: ;
  --sidebar-background: ;
  --sidebar-foreground: ;
  --sidebar-primary: ;
  --sidebar-primary-foreground: ;
  --sidebar-accent: ;
  --sidebar-accent-foreground: ;
  --sidebar-border: ;
  --sidebar-ring: ;
}

@mixin indigo-dark-theme {
  --background: ;
  --foreground: ;
  --muted: ;
  --muted-foreground: ;
  --popover: ;
  --popover-foreground: ;
  --card: ;
  --card-foreground: ;
  --border: ;
  --input: ;
  --primary: ;
  --primary-foreground: ;
  --secondary: ;
  --secondary-foreground: ;
  --accent: ;
  --accent-foreground: ;
  --destructive: ;
  --destructive-foreground: ;
  --ring: ;
  --chart-1: ;
  --chart-2: ;
  --chart-3: ;
  --chart-4: ;
  --chart-5: ;
  --sidebar-background: ;
  --sidebar-foreground: ;
  --sidebar-primary: ;
  --sidebar-primary-foreground: ;
  --sidebar-accent: ;
  --sidebar-accent-foreground: ;
  --sidebar-border: ;
  --sidebar-ring: ;
}

@mixin violet-dark-theme {
  --background: ;
  --foreground: ;
  --muted: ;
  --muted-foreground: ;
  --popover: ;
  --popover-foreground: ;
  --card: ;
  --card-foreground: ;
  --border: ;
  --input: ;
  --primary: ;
  --primary-foreground: ;
  --secondary: ;
  --secondary-foreground: ;
  --accent: ;
  --accent-foreground: ;
  --destructive: ;
  --destructive-foreground: ;
  --ring: ;
  --chart-1: ;
  --chart-2: ;
  --chart-3: ;
  --chart-4: ;
  --chart-5: ;
  --sidebar-background: ;
  --sidebar-foreground: ;
  --sidebar-primary: ;
  --sidebar-primary-foreground: ;
  --sidebar-accent: ;
  --sidebar-accent-foreground: ;
  --sidebar-border: ;
  --sidebar-ring: ;
}

@mixin purple-dark-theme {
  --background: ;
  --foreground: ;
  --muted: ;
  --muted-foreground: ;
  --popover: ;
  --popover-foreground: ;
  --card: ;
  --card-foreground: ;
  --border: ;
  --input: ;
  --primary: ;
  --primary-foreground: ;
  --secondary: ;
  --secondary-foreground: ;
  --accent: ;
  --accent-foreground: ;
  --destructive: ;
  --destructive-foreground: ;
  --ring: ;
  --chart-1: ;
  --chart-2: ;
  --chart-3: ;
  --chart-4: ;
  --chart-5: ;
  --sidebar-background: ;
  --sidebar-foreground: ;
  --sidebar-primary: ;
  --sidebar-primary-foreground: ;
  --sidebar-accent: ;
  --sidebar-accent-foreground: ;
  --sidebar-border: ;
  --sidebar-ring: ;
}

@mixin fuchsia-dark-theme {
  --background: ;
  --foreground: ;
  --muted: ;
  --muted-foreground: ;
  --popover: ;
  --popover-foreground: ;
  --card: ;
  --card-foreground: ;
  --border: ;
  --input: ;
  --primary: ;
  --primary-foreground: ;
  --secondary: ;
  --secondary-foreground: ;
  --accent: ;
  --accent-foreground: ;
  --destructive: ;
  --destructive-foreground: ;
  --ring: ;
  --chart-1: ;
  --chart-2: ;
  --chart-3: ;
  --chart-4: ;
  --chart-5: ;
  --sidebar-background: ;
  --sidebar-foreground: ;
  --sidebar-primary: ;
  --sidebar-primary-foreground: ;
  --sidebar-accent: ;
  --sidebar-accent-foreground: ;
  --sidebar-border: ;
  --sidebar-ring: ;
}

@mixin pink-dark-theme {
  --background: ;
  --foreground: ;
  --muted: ;
  --muted-foreground: ;
  --popover: ;
  --popover-foreground: ;
  --card: ;
  --card-foreground: ;
  --border: ;
  --input: ;
  --primary: ;
  --primary-foreground: ;
  --secondary: ;
  --secondary-foreground: ;
  --accent: ;
  --accent-foreground: ;
  --destructive: ;
  --destructive-foreground: ;
  --ring: ;
  --chart-1: ;
  --chart-2: ;
  --chart-3: ;
  --chart-4: ;
  --chart-5: ;
  --sidebar-background: ;
  --sidebar-foreground: ;
  --sidebar-primary: ;
  --sidebar-primary-foreground: ;
  --sidebar-accent: ;
  --sidebar-accent-foreground: ;
  --sidebar-border: ;
  --sidebar-ring: ;
}

@mixin rose-dark-theme {
  --background: ;
  --foreground: ;
  --muted: ;
  --muted-foreground: ;
  --popover: ;
  --popover-foreground: ;
  --card: ;
  --card-foreground: ;
  --border: ;
  --input: ;
  --primary: ;
  --primary-foreground: ;
  --secondary: ;
  --secondary-foreground: ;
  --accent: ;
  --accent-foreground: ;
  --destructive: ;
  --destructive-foreground: ;
  --ring: ;
  --chart-1: ;
  --chart-2: ;
  --chart-3: ;
  --chart-4: ;
  --chart-5: ;
  --sidebar-background: ;
  --sidebar-foreground: ;
  --sidebar-primary: ;
  --sidebar-primary-foreground: ;
  --sidebar-accent: ;
  --sidebar-accent-foreground: ;
  --sidebar-border: ;
  --sidebar-ring: ;
}

@mixin slate-dark-theme {
  --background: ;
  --foreground: ;
  --muted: ;
  --muted-foreground: ;
  --popover: ;
  --popover-foreground: ;
  --card: ;
  --card-foreground: ;
  --border: ;
  --input: ;
  --primary: ;
  --primary-foreground: ;
  --secondary: ;
  --secondary-foreground: ;
  --accent: ;
  --accent-foreground: ;
  --destructive: ;
  --destructive-foreground: ;
  --ring: ;
  --chart-1: ;
  --chart-2: ;
  --chart-3: ;
  --chart-4: ;
  --chart-5: ;
  --sidebar-background: ;
  --sidebar-foreground: ;
  --sidebar-primary: ;
  --sidebar-primary-foreground: ;
  --sidebar-accent: ;
  --sidebar-accent-foreground: ;
  --sidebar-border: ;
  --sidebar-ring: ;
}

@mixin gray-dark-theme {
  --background: ;
  --foreground: ;
  --muted: ;
  --muted-foreground: ;
  --popover: ;
  --popover-foreground: ;
  --card: ;
  --card-foreground: ;
  --border: ;
  --input: ;
  --primary: ;
  --primary-foreground: ;
  --secondary: ;
  --secondary-foreground: ;
  --accent: ;
  --accent-foreground: ;
  --destructive: ;
  --destructive-foreground: ;
  --ring: ;
  --chart-1: ;
  --chart-2: ;
  --chart-3: ;
  --chart-4: ;
  --chart-5: ;
  --sidebar-background: ;
  --sidebar-foreground: ;
  --sidebar-primary: ;
  --sidebar-primary-foreground: ;
  --sidebar-accent: ;
  --sidebar-accent-foreground: ;
  --sidebar-border: ;
  --sidebar-ring: ;
}

@mixin zinc-dark-theme {
  --background: ;
  --foreground: ;
  --muted: ;
  --muted-foreground: ;
  --popover: ;
  --popover-foreground: ;
  --card: ;
  --card-foreground: ;
  --border: ;
  --input: ;
  --primary: ;
  --primary-foreground: ;
  --secondary: ;
  --secondary-foreground: ;
  --accent: ;
  --accent-foreground: ;
  --destructive: ;
  --destructive-foreground: ;
  --ring: ;
  --chart-1: ;
  --chart-2: ;
  --chart-3: ;
  --chart-4: ;
  --chart-5: ;
  --sidebar-background: ;
  --sidebar-foreground: ;
  --sidebar-primary: ;
  --sidebar-primary-foreground: ;
  --sidebar-accent: ;
  --sidebar-accent-foreground: ;
  --sidebar-border: ;
  --sidebar-ring: ;
}

@mixin neutral-dark-theme {
  --background: ;
  --foreground: ;
  --muted: ;
  --muted-foreground: ;
  --popover: ;
  --popover-foreground: ;
  --card: ;
  --card-foreground: ;
  --border: ;
  --input: ;
  --primary: ;
  --primary-foreground: ;
  --secondary: ;
  --secondary-foreground: ;
  --accent: ;
  --accent-foreground: ;
  --destructive: ;
  --destructive-foreground: ;
  --ring: ;
  --chart-1: ;
  --chart-2: ;
  --chart-3: ;
  --chart-4: ;
  --chart-5: ;
  --sidebar-background: ;
  --sidebar-foreground: ;
  --sidebar-primary: ;
  --sidebar-primary-foreground: ;
  --sidebar-accent: ;
  --sidebar-accent-foreground: ;
  --sidebar-border: ;
  --sidebar-ring: ;
}

@mixin stone-dark-theme {
  --background: ;
  --foreground: ;
  --muted: ;
  --muted-foreground: ;
  --popover: ;
  --popover-foreground: ;
  --card: ;
  --card-foreground: ;
  --border: ;
  --input: ;
  --primary: ;
  --primary-foreground: ;
  --secondary: ;
  --secondary-foreground: ;
  --accent: ;
  --accent-foreground: ;
  --destructive: ;
  --destructive-foreground: ;
  --ring: ;
  --chart-1: ;
  --chart-2: ;
  --chart-3: ;
  --chart-4: ;
  --chart-5: ;
  --sidebar-background: ;
  --sidebar-foreground: ;
  --sidebar-primary: ;
  --sidebar-primary-foreground: ;
  --sidebar-accent: ;
  --sidebar-accent-foreground: ;
  --sidebar-border: ;
  --sidebar-ring: ;
}

:root {
  color-scheme: light;

  &[data-accent="red"] {
    @include red-light-theme;
  }

  &[data-accent="orange"] {
    @include orange-light-theme;
  }

  &[data-accent="amber"] {
    @include amber-light-theme;
  }

  &[data-accent="yellow"] {
    @include yellow-light-theme;
  }

  &[data-accent="lime"] {
    @include lime-light-theme;
  }

  &[data-accent="green"] {
    @include green-light-theme;
  }

  &[data-accent="emerald"] {
    @include emerald-light-theme;
  }

  &[data-accent="teal"] {
    @include teal-light-theme;
  }

  &[data-accent="cyan"] {
    @include cyan-light-theme;
  }

  &[data-accent="sky"] {
    @include sky-light-theme;
  }

  &[data-accent="blue"] {
    @include blue-light-theme;
  }

  &[data-accent="indigo"] {
    @include indigo-light-theme;
  }

  &[data-accent="violet"] {
    @include violet-light-theme;
  }

  &[data-accent="purple"] {
    @include purple-light-theme;
  }

  &[data-accent="fuchsia"] {
    @include fuchsia-light-theme;
  }

  &[data-accent="pink"] {
    @include pink-light-theme;
  }

  &[data-accent="rose"] {
    @include rose-light-theme;
  }

  &[data-accent="slate"] {
    @include slate-light-theme;
  }

  &[data-accent="gray"] {
    @include gray-light-theme;
  }

  &[data-accent="zinc"] {
    @include zinc-light-theme;
  }

  &[data-accent="neutral"] {
    @include neutral-light-theme;
  }

  &[data-accent="stone"] {
    @include stone-light-theme;
  }

  &.dark {
    color-scheme: dark;

    &[data-accent="red"] {
      @include red-dark-theme;
    }

    &[data-accent="orange"] {
      @include orange-dark-theme;
    }

    &[data-accent="amber"] {
      @include amber-dark-theme;
    }

    &[data-accent="yellow"] {
      @include yellow-dark-theme;
    }

    &[data-accent="lime"] {
      @include lime-dark-theme;
    }

    &[data-accent="green"] {
      @include green-dark-theme;
    }

    &[data-accent="emerald"] {
      @include emerald-dark-theme;
    }

    &[data-accent="teal"] {
      @include teal-dark-theme;
    }

    &[data-accent="cyan"] {
      @include cyan-dark-theme;
    }

    &[data-accent="sky"] {
      @include sky-dark-theme;
    }

    &[data-accent="blue"] {
      @include blue-dark-theme;
    }

    &[data-accent="indigo"] {
      @include indigo-dark-theme;
    }

    &[data-accent="violet"] {
      @include violet-dark-theme;
    }

    &[data-accent="purple"] {
      @include purple-dark-theme;
    }

    &[data-accent="fuchsia"] {
      @include fuchsia-dark-theme;
    }

    &[data-accent="pink"] {
      @include pink-dark-theme;
    }

    &[data-accent="rose"] {
      @include rose-dark-theme;
    }

    &[data-accent="slate"] {
      @include slate-dark-theme;
    }

    &[data-accent="gray"] {
      @include gray-dark-theme;
    }

    &[data-accent="zinc"] {
      @include zinc-dark-theme;
    }

    &[data-accent="neutral"] {
      @include neutral-dark-theme;
    }

    &[data-accent="stone"] {
      @include stone-dark-theme;
    }
  }
}
