@mixin red-light-theme {
  --background: var(--color-white);
  --foreground: var(--color-neutral-800);
  --muted: var(--color-neutral-100);
  --muted-foreground: var(--color-neutral-800);
  --popover: var(--color-white);
  --popover-foreground: var(--color-neutral-800);
  --card: var(--color-white);
  --card-foreground: var(--color-neutral-800);
  --border: var(--color-neutral-200);
  --input: var(--color-neutral-100);
  --primary: var(--color-red-500);
  --primary-foreground: var(--color-white);
  --secondary: var(--color-neutral-100);
  --secondary-foreground: var(--color-white);
  --accent: var(--color-neutral-100);
  --accent-foreground: var(--color-black);
  --destructive: var(--color-red-600);
  --destructive-foreground: var(--color-white);
  --ring: var(--color-red-500);
  --chart-1: var(--color-red-500);
  --chart-2: var(--color-red-400);
  --chart-3: var(--color-red-300);
  --chart-4: var(--color-red-200);
  --chart-5: var(--color-red-100);
  --sidebar-background: var(--color-red-500);
  --sidebar-foreground: var(--color-white);
  --sidebar-primary: var(--color-red-400);
  --sidebar-primary-foreground: var(--color-white);
  --sidebar-accent: var(--color-red-300);
  --sidebar-accent-foreground: var(--color-white);
  --sidebar-border: var(--color-red-600);
  --sidebar-ring: var(--color-red-500);
}

@mixin orange-light-theme {
  --background: ;
  --foreground: ;
  --muted: ;
  --muted-foreground: ;
  --popover: ;
  --popover-foreground: ;
  --card: ;
  --card-foreground: ;
  --border: ;
  --input: ;
  --primary: ;
  --primary-foreground: ;
  --secondary: ;
  --secondary-foreground: ;
  --accent: ;
  --accent-foreground: ;
  --destructive: ;
  --destructive-foreground: ;
  --ring: ;
  --chart-1: ;
  --chart-2: ;
  --chart-3: ;
  --chart-4: ;
  --chart-5: ;
  --sidebar-background: ;
  --sidebar-foreground: ;
  --sidebar-primary: ;
  --sidebar-primary-foreground: ;
  --sidebar-accent: ;
  --sidebar-accent-foreground: ;
  --sidebar-border: ;
  --sidebar-ring: ;
}

@mixin amber-light-theme {
  --background: ;
  --foreground: ;
  --muted: ;
  --muted-foreground: ;
  --popover: ;
  --popover-foreground: ;
  --card: ;
  --card-foreground: ;
  --border: ;
  --input: ;
  --primary: ;
  --primary-foreground: ;
  --secondary: ;
  --secondary-foreground: ;
  --accent: ;
  --accent-foreground: ;
  --destructive: ;
  --destructive-foreground: ;
  --ring: ;
  --chart-1: ;
  --chart-2: ;
  --chart-3: ;
  --chart-4: ;
  --chart-5: ;
  --sidebar-background: ;
  --sidebar-foreground: ;
  --sidebar-primary: ;
  --sidebar-primary-foreground: ;
  --sidebar-accent: ;
  --sidebar-accent-foreground: ;
  --sidebar-border: ;
  --sidebar-ring: ;
}

@mixin yellow-light-theme {
  --background: ;
  --foreground: ;
  --muted: ;
  --muted-foreground: ;
  --popover: ;
  --popover-foreground: ;
  --card: ;
  --card-foreground: ;
  --border: ;
  --input: ;
  --primary: ;
  --primary-foreground: ;
  --secondary: ;
  --secondary-foreground: ;
  --accent: ;
  --accent-foreground: ;
  --destructive: ;
  --destructive-foreground: ;
  --ring: ;
  --chart-1: ;
  --chart-2: ;
  --chart-3: ;
  --chart-4: ;
  --chart-5: ;
  --sidebar-background: ;
  --sidebar-foreground: ;
  --sidebar-primary: ;
  --sidebar-primary-foreground: ;
  --sidebar-accent: ;
  --sidebar-accent-foreground: ;
  --sidebar-border: ;
  --sidebar-ring: ;
}

@mixin lime-light-theme {
  --background: ;
  --foreground: ;
  --muted: ;
  --muted-foreground: ;
  --popover: ;
  --popover-foreground: ;
  --card: ;
  --card-foreground: ;
  --border: ;
  --input: ;
  --primary: ;
  --primary-foreground: ;
  --secondary: ;
  --secondary-foreground: ;
  --accent: ;
  --accent-foreground: ;
  --destructive: ;
  --destructive-foreground: ;
  --ring: ;
  --chart-1: ;
  --chart-2: ;
  --chart-3: ;
  --chart-4: ;
  --chart-5: ;
  --sidebar-background: ;
  --sidebar-foreground: ;
  --sidebar-primary: ;
  --sidebar-primary-foreground: ;
  --sidebar-accent: ;
  --sidebar-accent-foreground: ;
  --sidebar-border: ;
  --sidebar-ring: ;
}

@mixin green-light-theme {
  --background: ;
  --foreground: ;
  --muted: ;
  --muted-foreground: ;
  --popover: ;
  --popover-foreground: ;
  --card: ;
  --card-foreground: ;
  --border: ;
  --input: ;
  --primary: ;
  --primary-foreground: ;
  --secondary: ;
  --secondary-foreground: ;
  --accent: ;
  --accent-foreground: ;
  --destructive: ;
  --destructive-foreground: ;
  --ring: ;
  --chart-1: ;
  --chart-2: ;
  --chart-3: ;
  --chart-4: ;
  --chart-5: ;
  --sidebar-background: ;
  --sidebar-foreground: ;
  --sidebar-primary: ;
  --sidebar-primary-foreground: ;
  --sidebar-accent: ;
  --sidebar-accent-foreground: ;
  --sidebar-border: ;
  --sidebar-ring: ;
}

@mixin emerald-light-theme {
  --background: ;
  --foreground: ;
  --muted: ;
  --muted-foreground: ;
  --popover: ;
  --popover-foreground: ;
  --card: ;
  --card-foreground: ;
  --border: ;
  --input: ;
  --primary: ;
  --primary-foreground: ;
  --secondary: ;
  --secondary-foreground: ;
  --accent: ;
  --accent-foreground: ;
  --destructive: ;
  --destructive-foreground: ;
  --ring: ;
  --chart-1: ;
  --chart-2: ;
  --chart-3: ;
  --chart-4: ;
  --chart-5: ;
  --sidebar-background: ;
  --sidebar-foreground: ;
  --sidebar-primary: ;
  --sidebar-primary-foreground: ;
  --sidebar-accent: ;
  --sidebar-accent-foreground: ;
  --sidebar-border: ;
  --sidebar-ring: ;
}

@mixin teal-light-theme {
  --background: ;
  --foreground: ;
  --muted: ;
  --muted-foreground: ;
  --popover: ;
  --popover-foreground: ;
  --card: ;
  --card-foreground: ;
  --border: ;
  --input: ;
  --primary: ;
  --primary-foreground: ;
  --secondary: ;
  --secondary-foreground: ;
  --accent: ;
  --accent-foreground: ;
  --destructive: ;
  --destructive-foreground: ;
  --ring: ;
  --chart-1: ;
  --chart-2: ;
  --chart-3: ;
  --chart-4: ;
  --chart-5: ;
  --sidebar-background: ;
  --sidebar-foreground: ;
  --sidebar-primary: ;
  --sidebar-primary-foreground: ;
  --sidebar-accent: ;
  --sidebar-accent-foreground: ;
  --sidebar-border: ;
  --sidebar-ring: ;
}

@mixin cyan-light-theme {
  --background: ;
  --foreground: ;
  --muted: ;
  --muted-foreground: ;
  --popover: ;
  --popover-foreground: ;
  --card: ;
  --card-foreground: ;
  --border: ;
  --input: ;
  --primary: ;
  --primary-foreground: ;
  --secondary: ;
  --secondary-foreground: ;
  --accent: ;
  --accent-foreground: ;
  --destructive: ;
  --destructive-foreground: ;
  --ring: ;
  --chart-1: ;
  --chart-2: ;
  --chart-3: ;
  --chart-4: ;
  --chart-5: ;
  --sidebar-background: ;
  --sidebar-foreground: ;
  --sidebar-primary: ;
  --sidebar-primary-foreground: ;
  --sidebar-accent: ;
  --sidebar-accent-foreground: ;
  --sidebar-border: ;
  --sidebar-ring: ;
}

@mixin sky-light-theme {
  --background: ;
  --foreground: ;
  --muted: ;
  --muted-foreground: ;
  --popover: ;
  --popover-foreground: ;
  --card: ;
  --card-foreground: ;
  --border: ;
  --input: ;
  --primary: ;
  --primary-foreground: ;
  --secondary: ;
  --secondary-foreground: ;
  --accent: ;
  --accent-foreground: ;
  --destructive: ;
  --destructive-foreground: ;
  --ring: ;
  --chart-1: ;
  --chart-2: ;
  --chart-3: ;
  --chart-4: ;
  --chart-5: ;
  --sidebar-background: ;
  --sidebar-foreground: ;
  --sidebar-primary: ;
  --sidebar-primary-foreground: ;
  --sidebar-accent: ;
  --sidebar-accent-foreground: ;
  --sidebar-border: ;
  --sidebar-ring: ;
}

@mixin blue-light-theme {
  --background: ;
  --foreground: ;
  --muted: ;
  --muted-foreground: ;
  --popover: ;
  --popover-foreground: ;
  --card: ;
  --card-foreground: ;
  --border: ;
  --input: ;
  --primary: ;
  --primary-foreground: ;
  --secondary: ;
  --secondary-foreground: ;
  --accent: ;
  --accent-foreground: ;
  --destructive: ;
  --destructive-foreground: ;
  --ring: ;
  --chart-1: ;
  --chart-2: ;
  --chart-3: ;
  --chart-4: ;
  --chart-5: ;
  --sidebar-background: ;
  --sidebar-foreground: ;
  --sidebar-primary: ;
  --sidebar-primary-foreground: ;
  --sidebar-accent: ;
  --sidebar-accent-foreground: ;
  --sidebar-border: ;
  --sidebar-ring: ;
}

@mixin indigo-light-theme {
  --background: ;
  --foreground: ;
  --muted: ;
  --muted-foreground: ;
  --popover: ;
  --popover-foreground: ;
  --card: ;
  --card-foreground: ;
  --border: ;
  --input: ;
  --primary: ;
  --primary-foreground: ;
  --secondary: ;
  --secondary-foreground: ;
  --accent: ;
  --accent-foreground: ;
  --destructive: ;
  --destructive-foreground: ;
  --ring: ;
  --chart-1: ;
  --chart-2: ;
  --chart-3: ;
  --chart-4: ;
  --chart-5: ;
  --sidebar-background: ;
  --sidebar-foreground: ;
  --sidebar-primary: ;
  --sidebar-primary-foreground: ;
  --sidebar-accent: ;
  --sidebar-accent-foreground: ;
  --sidebar-border: ;
  --sidebar-ring: ;
}

@mixin violet-light-theme {
  --background: ;
  --foreground: ;
  --muted: ;
  --muted-foreground: ;
  --popover: ;
  --popover-foreground: ;
  --card: ;
  --card-foreground: ;
  --border: ;
  --input: ;
  --primary: ;
  --primary-foreground: ;
  --secondary: ;
  --secondary-foreground: ;
  --accent: ;
  --accent-foreground: ;
  --destructive: ;
  --destructive-foreground: ;
  --ring: ;
  --chart-1: ;
  --chart-2: ;
  --chart-3: ;
  --chart-4: ;
  --chart-5: ;
  --sidebar-background: ;
  --sidebar-foreground: ;
  --sidebar-primary: ;
  --sidebar-primary-foreground: ;
  --sidebar-accent: ;
  --sidebar-accent-foreground: ;
  --sidebar-border: ;
  --sidebar-ring: ;
}

@mixin purple-light-theme {
  --background: ;
  --foreground: ;
  --muted: ;
  --muted-foreground: ;
  --popover: ;
  --popover-foreground: ;
  --card: ;
  --card-foreground: ;
  --border: ;
  --input: ;
  --primary: ;
  --primary-foreground: ;
  --secondary: ;
  --secondary-foreground: ;
  --accent: ;
  --accent-foreground: ;
  --destructive: ;
  --destructive-foreground: ;
  --ring: ;
  --chart-1: ;
  --chart-2: ;
  --chart-3: ;
  --chart-4: ;
  --chart-5: ;
  --sidebar-background: ;
  --sidebar-foreground: ;
  --sidebar-primary: ;
  --sidebar-primary-foreground: ;
  --sidebar-accent: ;
  --sidebar-accent-foreground: ;
  --sidebar-border: ;
  --sidebar-ring: ;
}

@mixin fuchsia-light-theme {
  --background: ;
  --foreground: ;
  --muted: ;
  --muted-foreground: ;
  --popover: ;
  --popover-foreground: ;
  --card: ;
  --card-foreground: ;
  --border: ;
  --input: ;
  --primary: ;
  --primary-foreground: ;
  --secondary: ;
  --secondary-foreground: ;
  --accent: ;
  --accent-foreground: ;
  --destructive: ;
  --destructive-foreground: ;
  --ring: ;
  --chart-1: ;
  --chart-2: ;
  --chart-3: ;
  --chart-4: ;
  --chart-5: ;
  --sidebar-background: ;
  --sidebar-foreground: ;
  --sidebar-primary: ;
  --sidebar-primary-foreground: ;
  --sidebar-accent: ;
  --sidebar-accent-foreground: ;
  --sidebar-border: ;
  --sidebar-ring: ;
}

@mixin pink-light-theme {
  --background: ;
  --foreground: ;
  --muted: ;
  --muted-foreground: ;
  --popover: ;
  --popover-foreground: ;
  --card: ;
  --card-foreground: ;
  --border: ;
  --input: ;
  --primary: ;
  --primary-foreground: ;
  --secondary: ;
  --secondary-foreground: ;
  --accent: ;
  --accent-foreground: ;
  --destructive: ;
  --destructive-foreground: ;
  --ring: ;
  --chart-1: ;
  --chart-2: ;
  --chart-3: ;
  --chart-4: ;
  --chart-5: ;
  --sidebar-background: ;
  --sidebar-foreground: ;
  --sidebar-primary: ;
  --sidebar-primary-foreground: ;
  --sidebar-accent: ;
  --sidebar-accent-foreground: ;
  --sidebar-border: ;
  --sidebar-ring: ;
}

@mixin rose-light-theme {
  --background: ;
  --foreground: ;
  --muted: ;
  --muted-foreground: ;
  --popover: ;
  --popover-foreground: ;
  --card: ;
  --card-foreground: ;
  --border: ;
  --input: ;
  --primary: ;
  --primary-foreground: ;
  --secondary: ;
  --secondary-foreground: ;
  --accent: ;
  --accent-foreground: ;
  --destructive: ;
  --destructive-foreground: ;
  --ring: ;
  --chart-1: ;
  --chart-2: ;
  --chart-3: ;
  --chart-4: ;
  --chart-5: ;
  --sidebar-background: ;
  --sidebar-foreground: ;
  --sidebar-primary: ;
  --sidebar-primary-foreground: ;
  --sidebar-accent: ;
  --sidebar-accent-foreground: ;
  --sidebar-border: ;
  --sidebar-ring: ;
}

@mixin slate-light-theme {
  --background: ;
  --foreground: ;
  --muted: ;
  --muted-foreground: ;
  --popover: ;
  --popover-foreground: ;
  --card: ;
  --card-foreground: ;
  --border: ;
  --input: ;
  --primary: ;
  --primary-foreground: ;
  --secondary: ;
  --secondary-foreground: ;
  --accent: ;
  --accent-foreground: ;
  --destructive: ;
  --destructive-foreground: ;
  --ring: ;
  --chart-1: ;
  --chart-2: ;
  --chart-3: ;
  --chart-4: ;
  --chart-5: ;
  --sidebar-background: ;
  --sidebar-foreground: ;
  --sidebar-primary: ;
  --sidebar-primary-foreground: ;
  --sidebar-accent: ;
  --sidebar-accent-foreground: ;
  --sidebar-border: ;
  --sidebar-ring: ;
}

@mixin gray-light-theme {
  --background: ;
  --foreground: ;
  --muted: ;
  --muted-foreground: ;
  --popover: ;
  --popover-foreground: ;
  --card: ;
  --card-foreground: ;
  --border: ;
  --input: ;
  --primary: ;
  --primary-foreground: ;
  --secondary: ;
  --secondary-foreground: ;
  --accent: ;
  --accent-foreground: ;
  --destructive: ;
  --destructive-foreground: ;
  --ring: ;
  --chart-1: ;
  --chart-2: ;
  --chart-3: ;
  --chart-4: ;
  --chart-5: ;
  --sidebar-background: ;
  --sidebar-foreground: ;
  --sidebar-primary: ;
  --sidebar-primary-foreground: ;
  --sidebar-accent: ;
  --sidebar-accent-foreground: ;
  --sidebar-border: ;
  --sidebar-ring: ;
}

@mixin zinc-light-theme {
  --background: ;
  --foreground: ;
  --muted: ;
  --muted-foreground: ;
  --popover: ;
  --popover-foreground: ;
  --card: ;
  --card-foreground: ;
  --border: ;
  --input: ;
  --primary: ;
  --primary-foreground: ;
  --secondary: ;
  --secondary-foreground: ;
  --accent: ;
  --accent-foreground: ;
  --destructive: ;
  --destructive-foreground: ;
  --ring: ;
  --chart-1: ;
  --chart-2: ;
  --chart-3: ;
  --chart-4: ;
  --chart-5: ;
  --sidebar-background: ;
  --sidebar-foreground: ;
  --sidebar-primary: ;
  --sidebar-primary-foreground: ;
  --sidebar-accent: ;
  --sidebar-accent-foreground: ;
  --sidebar-border: ;
  --sidebar-ring: ;
}

@mixin neutral-light-theme {
  --background: ;
  --foreground: ;
  --muted: ;
  --muted-foreground: ;
  --popover: ;
  --popover-foreground: ;
  --card: ;
  --card-foreground: ;
  --border: ;
  --input: ;
  --primary: ;
  --primary-foreground: ;
  --secondary: ;
  --secondary-foreground: ;
  --accent: ;
  --accent-foreground: ;
  --destructive: ;
  --destructive-foreground: ;
  --ring: ;
  --chart-1: ;
  --chart-2: ;
  --chart-3: ;
  --chart-4: ;
  --chart-5: ;
  --sidebar-background: ;
  --sidebar-foreground: ;
  --sidebar-primary: ;
  --sidebar-primary-foreground: ;
  --sidebar-accent: ;
  --sidebar-accent-foreground: ;
  --sidebar-border: ;
  --sidebar-ring: ;
}

@mixin stone-light-theme {
  --background: ;
  --foreground: ;
  --muted: ;
  --muted-foreground: ;
  --popover: ;
  --popover-foreground: ;
  --card: ;
  --card-foreground: ;
  --border: ;
  --input: ;
  --primary: ;
  --primary-foreground: ;
  --secondary: ;
  --secondary-foreground: ;
  --accent: ;
  --accent-foreground: ;
  --destructive: ;
  --destructive-foreground: ;
  --ring: ;
  --chart-1: ;
  --chart-2: ;
  --chart-3: ;
  --chart-4: ;
  --chart-5: ;
  --sidebar-background: ;
  --sidebar-foreground: ;
  --sidebar-primary: ;
  --sidebar-primary-foreground: ;
  --sidebar-accent: ;
  --sidebar-accent-foreground: ;
  --sidebar-border: ;
  --sidebar-ring: ;
}

@mixin red-dark-theme {
  --background: var(--color-neutral-900);
  --foreground: var(--color-neutral-100);
  --muted: var(--color-neutral-800);
  --muted-foreground: var(--color-neutral-100);
  --popover: var(--color-neutral-900);
  --popover-foreground: var(--color-neutral-100);
  --card: var(--color-neutral-800);
  --card-foreground: var(--color-neutral-100);
  --border: var(--color-neutral-700);
  --input: var(--color-neutral-800);
  --primary: var(--color-red-500);
  --primary-foreground: var(--color-white);
  --secondary: var(--color-neutral-800);
  --secondary-foreground: var(--color-white);
  --accent: var(--color-neutral-800);
  --accent-foreground: var(--color-white);
  --destructive: var(--color-red-600);
  --destructive-foreground: var(--color-white);
  --ring: var(--color-red-500);
  --chart-1: var(--color-red-500);
  --chart-2: var(--color-red-400);
  --chart-3: var(--color-red-300);
  --chart-4: var(--color-red-200);
  --chart-5: var(--color-red-100);
  --sidebar-background: var(--color-red-500);
  --sidebar-foreground: var(--color-white);
  --sidebar-primary: var(--color-red-400);
  --sidebar-primary-foreground: var(--color-white);
  --sidebar-accent: var(--color-red-300);
  --sidebar-accent-foreground: var(--color-white);
  --sidebar-border: var(--color-red-600);
  --sidebar-ring: var(--color-red-500);
}

@mixin orange-dark-theme {
  --background: ;
  --foreground: ;
  --muted: ;
  --muted-foreground: ;
  --popover: ;
  --popover-foreground: ;
  --card: ;
  --card-foreground: ;
  --border: ;
  --input: ;
  --primary: ;
  --primary-foreground: ;
  --secondary: ;
  --secondary-foreground: ;
  --accent: ;
  --accent-foreground: ;
  --destructive: ;
  --destructive-foreground: ;
  --ring: ;
  --chart-1: ;
  --chart-2: ;
  --chart-3: ;
  --chart-4: ;
  --chart-5: ;
  --sidebar-background: ;
  --sidebar-foreground: ;
  --sidebar-primary: ;
  --sidebar-primary-foreground: ;
  --sidebar-accent: ;
  --sidebar-accent-foreground: ;
  --sidebar-border: ;
  --sidebar-ring: ;
}

@mixin amber-dark-theme {
  --background: ;
  --foreground: ;
  --muted: ;
  --muted-foreground: ;
  --popover: ;
  --popover-foreground: ;
  --card: ;
  --card-foreground: ;
  --border: ;
  --input: ;
  --primary: ;
  --primary-foreground: ;
  --secondary: ;
  --secondary-foreground: ;
  --accent: ;
  --accent-foreground: ;
  --destructive: ;
  --destructive-foreground: ;
  --ring: ;
  --chart-1: ;
  --chart-2: ;
  --chart-3: ;
  --chart-4: ;
  --chart-5: ;
  --sidebar-background: ;
  --sidebar-foreground: ;
  --sidebar-primary: ;
  --sidebar-primary-foreground: ;
  --sidebar-accent: ;
  --sidebar-accent-foreground: ;
  --sidebar-border: ;
  --sidebar-ring: ;
}

@mixin yellow-dark-theme {
  --background: ;
  --foreground: ;
  --muted: ;
  --muted-foreground: ;
  --popover: ;
  --popover-foreground: ;
  --card: ;
  --card-foreground: ;
  --border: ;
  --input: ;
  --primary: ;
  --primary-foreground: ;
  --secondary: ;
  --secondary-foreground: ;
  --accent: ;
  --accent-foreground: ;
  --destructive: ;
  --destructive-foreground: ;
  --ring: ;
  --chart-1: ;
  --chart-2: ;
  --chart-3: ;
  --chart-4: ;
  --chart-5: ;
  --sidebar-background: ;
  --sidebar-foreground: ;
  --sidebar-primary: ;
  --sidebar-primary-foreground: ;
  --sidebar-accent: ;
  --sidebar-accent-foreground: ;
  --sidebar-border: ;
  --sidebar-ring: ;
}

@mixin lime-dark-theme {
  --background: ;
  --foreground: ;
  --muted: ;
  --muted-foreground: ;
  --popover: ;
  --popover-foreground: ;
  --card: ;
  --card-foreground: ;
  --border: ;
  --input: ;
  --primary: ;
  --primary-foreground: ;
  --secondary: ;
  --secondary-foreground: ;
  --accent: ;
  --accent-foreground: ;
  --destructive: ;
  --destructive-foreground: ;
  --ring: ;
  --chart-1: ;
  --chart-2: ;
  --chart-3: ;
  --chart-4: ;
  --chart-5: ;
  --sidebar-background: ;
  --sidebar-foreground: ;
  --sidebar-primary: ;
  --sidebar-primary-foreground: ;
  --sidebar-accent: ;
  --sidebar-accent-foreground: ;
  --sidebar-border: ;
  --sidebar-ring: ;
}

@mixin green-dark-theme {
  --background: ;
  --foreground: ;
  --muted: ;
  --muted-foreground: ;
  --popover: ;
  --popover-foreground: ;
  --card: ;
  --card-foreground: ;
  --border: ;
  --input: ;
  --primary: ;
  --primary-foreground: ;
  --secondary: ;
  --secondary-foreground: ;
  --accent: ;
  --accent-foreground: ;
  --destructive: ;
  --destructive-foreground: ;
  --ring: ;
  --chart-1: ;
  --chart-2: ;
  --chart-3: ;
  --chart-4: ;
  --chart-5: ;
  --sidebar-background: ;
  --sidebar-foreground: ;
  --sidebar-primary: ;
  --sidebar-primary-foreground: ;
  --sidebar-accent: ;
  --sidebar-accent-foreground: ;
  --sidebar-border: ;
  --sidebar-ring: ;
}

@mixin emerald-dark-theme {
  --background: ;
  --foreground: ;
  --muted: ;
  --muted-foreground: ;
  --popover: ;
  --popover-foreground: ;
  --card: ;
  --card-foreground: ;
  --border: ;
  --input: ;
  --primary: ;
  --primary-foreground: ;
  --secondary: ;
  --secondary-foreground: ;
  --accent: ;
  --accent-foreground: ;
  --destructive: ;
  --destructive-foreground: ;
  --ring: ;
  --chart-1: ;
  --chart-2: ;
  --chart-3: ;
  --chart-4: ;
  --chart-5: ;
  --sidebar-background: ;
  --sidebar-foreground: ;
  --sidebar-primary: ;
  --sidebar-primary-foreground: ;
  --sidebar-accent: ;
  --sidebar-accent-foreground: ;
  --sidebar-border: ;
  --sidebar-ring: ;
}

@mixin teal-dark-theme {
  --background: ;
  --foreground: ;
  --muted: ;
  --muted-foreground: ;
  --popover: ;
  --popover-foreground: ;
  --card: ;
  --card-foreground: ;
  --border: ;
  --input: ;
  --primary: ;
  --primary-foreground: ;
  --secondary: ;
  --secondary-foreground: ;
  --accent: ;
  --accent-foreground: ;
  --destructive: ;
  --destructive-foreground: ;
  --ring: ;
  --chart-1: ;
  --chart-2: ;
  --chart-3: ;
  --chart-4: ;
  --chart-5: ;
  --sidebar-background: ;
  --sidebar-foreground: ;
  --sidebar-primary: ;
  --sidebar-primary-foreground: ;
  --sidebar-accent: ;
  --sidebar-accent-foreground: ;
  --sidebar-border: ;
  --sidebar-ring: ;
}

@mixin cyan-dark-theme {
  --background: ;
  --foreground: ;
  --muted: ;
  --muted-foreground: ;
  --popover: ;
  --popover-foreground: ;
  --card: ;
  --card-foreground: ;
  --border: ;
  --input: ;
  --primary: ;
  --primary-foreground: ;
  --secondary: ;
  --secondary-foreground: ;
  --accent: ;
  --accent-foreground: ;
  --destructive: ;
  --destructive-foreground: ;
  --ring: ;
  --chart-1: ;
  --chart-2: ;
  --chart-3: ;
  --chart-4: ;
  --chart-5: ;
  --sidebar-background: ;
  --sidebar-foreground: ;
  --sidebar-primary: ;
  --sidebar-primary-foreground: ;
  --sidebar-accent: ;
  --sidebar-accent-foreground: ;
  --sidebar-border: ;
  --sidebar-ring: ;
}

@mixin sky-dark-theme {
  --background: ;
  --foreground: ;
  --muted: ;
  --muted-foreground: ;
  --popover: ;
  --popover-foreground: ;
  --card: ;
  --card-foreground: ;
  --border: ;
  --input: ;
  --primary: ;
  --primary-foreground: ;
  --secondary: ;
  --secondary-foreground: ;
  --accent: ;
  --accent-foreground: ;
  --destructive: ;
  --destructive-foreground: ;
  --ring: ;
  --chart-1: ;
  --chart-2: ;
  --chart-3: ;
  --chart-4: ;
  --chart-5: ;
  --sidebar-background: ;
  --sidebar-foreground: ;
  --sidebar-primary: ;
  --sidebar-primary-foreground: ;
  --sidebar-accent: ;
  --sidebar-accent-foreground: ;
  --sidebar-border: ;
  --sidebar-ring: ;
}

@mixin blue-dark-theme {
  --background: ;
  --foreground: ;
  --muted: ;
  --muted-foreground: ;
  --popover: ;
  --popover-foreground: ;
  --card: ;
  --card-foreground: ;
  --border: ;
  --input: ;
  --primary: ;
  --primary-foreground: ;
  --secondary: ;
  --secondary-foreground: ;
  --accent: ;
  --accent-foreground: ;
  --destructive: ;
  --destructive-foreground: ;
  --ring: ;
  --chart-1: ;
  --chart-2: ;
  --chart-3: ;
  --chart-4: ;
  --chart-5: ;
  --sidebar-background: ;
  --sidebar-foreground: ;
  --sidebar-primary: ;
  --sidebar-primary-foreground: ;
  --sidebar-accent: ;
  --sidebar-accent-foreground: ;
  --sidebar-border: ;
  --sidebar-ring: ;
}

@mixin indigo-dark-theme {
  --background: ;
  --foreground: ;
  --muted: ;
  --muted-foreground: ;
  --popover: ;
  --popover-foreground: ;
  --card: ;
  --card-foreground: ;
  --border: ;
  --input: ;
  --primary: ;
  --primary-foreground: ;
  --secondary: ;
  --secondary-foreground: ;
  --accent: ;
  --accent-foreground: ;
  --destructive: ;
  --destructive-foreground: ;
  --ring: ;
  --chart-1: ;
  --chart-2: ;
  --chart-3: ;
  --chart-4: ;
  --chart-5: ;
  --sidebar-background: ;
  --sidebar-foreground: ;
  --sidebar-primary: ;
  --sidebar-primary-foreground: ;
  --sidebar-accent: ;
  --sidebar-accent-foreground: ;
  --sidebar-border: ;
  --sidebar-ring: ;
}

@mixin violet-dark-theme {
  --background: ;
  --foreground: ;
  --muted: ;
  --muted-foreground: ;
  --popover: ;
  --popover-foreground: ;
  --card: ;
  --card-foreground: ;
  --border: ;
  --input: ;
  --primary: ;
  --primary-foreground: ;
  --secondary: ;
  --secondary-foreground: ;
  --accent: ;
  --accent-foreground: ;
  --destructive: ;
  --destructive-foreground: ;
  --ring: ;
  --chart-1: ;
  --chart-2: ;
  --chart-3: ;
  --chart-4: ;
  --chart-5: ;
  --sidebar-background: ;
  --sidebar-foreground: ;
  --sidebar-primary: ;
  --sidebar-primary-foreground: ;
  --sidebar-accent: ;
  --sidebar-accent-foreground: ;
  --sidebar-border: ;
  --sidebar-ring: ;
}

@mixin purple-dark-theme {
  --background: ;
  --foreground: ;
  --muted: ;
  --muted-foreground: ;
  --popover: ;
  --popover-foreground: ;
  --card: ;
  --card-foreground: ;
  --border: ;
  --input: ;
  --primary: ;
  --primary-foreground: ;
  --secondary: ;
  --secondary-foreground: ;
  --accent: ;
  --accent-foreground: ;
  --destructive: ;
  --destructive-foreground: ;
  --ring: ;
  --chart-1: ;
  --chart-2: ;
  --chart-3: ;
  --chart-4: ;
  --chart-5: ;
  --sidebar-background: ;
  --sidebar-foreground: ;
  --sidebar-primary: ;
  --sidebar-primary-foreground: ;
  --sidebar-accent: ;
  --sidebar-accent-foreground: ;
  --sidebar-border: ;
  --sidebar-ring: ;
}

@mixin fuchsia-dark-theme {
  --background: ;
  --foreground: ;
  --muted: ;
  --muted-foreground: ;
  --popover: ;
  --popover-foreground: ;
  --card: ;
  --card-foreground: ;
  --border: ;
  --input: ;
  --primary: ;
  --primary-foreground: ;
  --secondary: ;
  --secondary-foreground: ;
  --accent: ;
  --accent-foreground: ;
  --destructive: ;
  --destructive-foreground: ;
  --ring: ;
  --chart-1: ;
  --chart-2: ;
  --chart-3: ;
  --chart-4: ;
  --chart-5: ;
  --sidebar-background: ;
  --sidebar-foreground: ;
  --sidebar-primary: ;
  --sidebar-primary-foreground: ;
  --sidebar-accent: ;
  --sidebar-accent-foreground: ;
  --sidebar-border: ;
  --sidebar-ring: ;
}

@mixin pink-dark-theme {
  --background: ;
  --foreground: ;
  --muted: ;
  --muted-foreground: ;
  --popover: ;
  --popover-foreground: ;
  --card: ;
  --card-foreground: ;
  --border: ;
  --input: ;
  --primary: ;
  --primary-foreground: ;
  --secondary: ;
  --secondary-foreground: ;
  --accent: ;
  --accent-foreground: ;
  --destructive: ;
  --destructive-foreground: ;
  --ring: ;
  --chart-1: ;
  --chart-2: ;
  --chart-3: ;
  --chart-4: ;
  --chart-5: ;
  --sidebar-background: ;
  --sidebar-foreground: ;
  --sidebar-primary: ;
  --sidebar-primary-foreground: ;
  --sidebar-accent: ;
  --sidebar-accent-foreground: ;
  --sidebar-border: ;
  --sidebar-ring: ;
}

@mixin rose-dark-theme {
  --background: ;
  --foreground: ;
  --muted: ;
  --muted-foreground: ;
  --popover: ;
  --popover-foreground: ;
  --card: ;
  --card-foreground: ;
  --border: ;
  --input: ;
  --primary: ;
  --primary-foreground: ;
  --secondary: ;
  --secondary-foreground: ;
  --accent: ;
  --accent-foreground: ;
  --destructive: ;
  --destructive-foreground: ;
  --ring: ;
  --chart-1: ;
  --chart-2: ;
  --chart-3: ;
  --chart-4: ;
  --chart-5: ;
  --sidebar-background: ;
  --sidebar-foreground: ;
  --sidebar-primary: ;
  --sidebar-primary-foreground: ;
  --sidebar-accent: ;
  --sidebar-accent-foreground: ;
  --sidebar-border: ;
  --sidebar-ring: ;
}

@mixin slate-dark-theme {
  --background: ;
  --foreground: ;
  --muted: ;
  --muted-foreground: ;
  --popover: ;
  --popover-foreground: ;
  --card: ;
  --card-foreground: ;
  --border: ;
  --input: ;
  --primary: ;
  --primary-foreground: ;
  --secondary: ;
  --secondary-foreground: ;
  --accent: ;
  --accent-foreground: ;
  --destructive: ;
  --destructive-foreground: ;
  --ring: ;
  --chart-1: ;
  --chart-2: ;
  --chart-3: ;
  --chart-4: ;
  --chart-5: ;
  --sidebar-background: ;
  --sidebar-foreground: ;
  --sidebar-primary: ;
  --sidebar-primary-foreground: ;
  --sidebar-accent: ;
  --sidebar-accent-foreground: ;
  --sidebar-border: ;
  --sidebar-ring: ;
}

@mixin gray-dark-theme {
  --background: ;
  --foreground: ;
  --muted: ;
  --muted-foreground: ;
  --popover: ;
  --popover-foreground: ;
  --card: ;
  --card-foreground: ;
  --border: ;
  --input: ;
  --primary: ;
  --primary-foreground: ;
  --secondary: ;
  --secondary-foreground: ;
  --accent: ;
  --accent-foreground: ;
  --destructive: ;
  --destructive-foreground: ;
  --ring: ;
  --chart-1: ;
  --chart-2: ;
  --chart-3: ;
  --chart-4: ;
  --chart-5: ;
  --sidebar-background: ;
  --sidebar-foreground: ;
  --sidebar-primary: ;
  --sidebar-primary-foreground: ;
  --sidebar-accent: ;
  --sidebar-accent-foreground: ;
  --sidebar-border: ;
  --sidebar-ring: ;
}

@mixin zinc-dark-theme {
  --background: ;
  --foreground: ;
  --muted: ;
  --muted-foreground: ;
  --popover: ;
  --popover-foreground: ;
  --card: ;
  --card-foreground: ;
  --border: ;
  --input: ;
  --primary: ;
  --primary-foreground: ;
  --secondary: ;
  --secondary-foreground: ;
  --accent: ;
  --accent-foreground: ;
  --destructive: ;
  --destructive-foreground: ;
  --ring: ;
  --chart-1: ;
  --chart-2: ;
  --chart-3: ;
  --chart-4: ;
  --chart-5: ;
  --sidebar-background: ;
  --sidebar-foreground: ;
  --sidebar-primary: ;
  --sidebar-primary-foreground: ;
  --sidebar-accent: ;
  --sidebar-accent-foreground: ;
  --sidebar-border: ;
  --sidebar-ring: ;
}

@mixin neutral-dark-theme {
  --background: ;
  --foreground: ;
  --muted: ;
  --muted-foreground: ;
  --popover: ;
  --popover-foreground: ;
  --card: ;
  --card-foreground: ;
  --border: ;
  --input: ;
  --primary: ;
  --primary-foreground: ;
  --secondary: ;
  --secondary-foreground: ;
  --accent: ;
  --accent-foreground: ;
  --destructive: ;
  --destructive-foreground: ;
  --ring: ;
  --chart-1: ;
  --chart-2: ;
  --chart-3: ;
  --chart-4: ;
  --chart-5: ;
  --sidebar-background: ;
  --sidebar-foreground: ;
  --sidebar-primary: ;
  --sidebar-primary-foreground: ;
  --sidebar-accent: ;
  --sidebar-accent-foreground: ;
  --sidebar-border: ;
  --sidebar-ring: ;
}

@mixin stone-dark-theme {
  --background: ;
  --foreground: ;
  --muted: ;
  --muted-foreground: ;
  --popover: ;
  --popover-foreground: ;
  --card: ;
  --card-foreground: ;
  --border: ;
  --input: ;
  --primary: ;
  --primary-foreground: ;
  --secondary: ;
  --secondary-foreground: ;
  --accent: ;
  --accent-foreground: ;
  --destructive: ;
  --destructive-foreground: ;
  --ring: ;
  --chart-1: ;
  --chart-2: ;
  --chart-3: ;
  --chart-4: ;
  --chart-5: ;
  --sidebar-background: ;
  --sidebar-foreground: ;
  --sidebar-primary: ;
  --sidebar-primary-foreground: ;
  --sidebar-accent: ;
  --sidebar-accent-foreground: ;
  --sidebar-border: ;
  --sidebar-ring: ;
}

:root {
  color-scheme: light;

  &[data-accent="red"] {
    @include red-light-theme;
  }

  &[data-accent="orange"] {
    @include orange-light-theme;
  }

  &[data-accent="amber"] {
    @include amber-light-theme;
  }

  &[data-accent="yellow"] {
    @include yellow-light-theme;
  }

  &[data-accent="lime"] {
    @include lime-light-theme;
  }

  &[data-accent="green"] {
    @include green-light-theme;
  }

  &[data-accent="emerald"] {
    @include emerald-light-theme;
  }

  &[data-accent="teal"] {
    @include teal-light-theme;
  }

  &[data-accent="cyan"] {
    @include cyan-light-theme;
  }

  &[data-accent="sky"] {
    @include sky-light-theme;
  }

  &[data-accent="blue"] {
    @include blue-light-theme;
  }

  &[data-accent="indigo"] {
    @include indigo-light-theme;
  }

  &[data-accent="violet"] {
    @include violet-light-theme;
  }

  &[data-accent="purple"] {
    @include purple-light-theme;
  }

  &[data-accent="fuchsia"] {
    @include fuchsia-light-theme;
  }

  &[data-accent="pink"] {
    @include pink-light-theme;
  }

  &[data-accent="rose"] {
    @include rose-light-theme;
  }

  &[data-accent="slate"] {
    @include slate-light-theme;
  }

  &[data-accent="gray"] {
    @include gray-light-theme;
  }

  &[data-accent="zinc"] {
    @include zinc-light-theme;
  }

  &[data-accent="neutral"] {
    @include neutral-light-theme;
  }

  &[data-accent="stone"] {
    @include stone-light-theme;
  }

  &.dark {
    color-scheme: dark;

    &[data-accent="red"] {
      @include red-dark-theme;
    }

    &[data-accent="orange"] {
      @include orange-dark-theme;
    }

    &[data-accent="amber"] {
      @include amber-dark-theme;
    }

    &[data-accent="yellow"] {
      @include yellow-dark-theme;
    }

    &[data-accent="lime"] {
      @include lime-dark-theme;
    }

    &[data-accent="green"] {
      @include green-dark-theme;
    }

    &[data-accent="emerald"] {
      @include emerald-dark-theme;
    }

    &[data-accent="teal"] {
      @include teal-dark-theme;
    }

    &[data-accent="cyan"] {
      @include cyan-dark-theme;
    }

    &[data-accent="sky"] {
      @include sky-dark-theme;
    }

    &[data-accent="blue"] {
      @include blue-dark-theme;
    }

    &[data-accent="indigo"] {
      @include indigo-dark-theme;
    }

    &[data-accent="violet"] {
      @include violet-dark-theme;
    }

    &[data-accent="purple"] {
      @include purple-dark-theme;
    }

    &[data-accent="fuchsia"] {
      @include fuchsia-dark-theme;
    }

    &[data-accent="pink"] {
      @include pink-dark-theme;
    }

    &[data-accent="rose"] {
      @include rose-dark-theme;
    }

    &[data-accent="slate"] {
      @include slate-dark-theme;
    }

    &[data-accent="gray"] {
      @include gray-dark-theme;
    }

    &[data-accent="zinc"] {
      @include zinc-dark-theme;
    }

    &[data-accent="neutral"] {
      @include neutral-dark-theme;
    }

    &[data-accent="stone"] {
      @include stone-dark-theme;
    }
  }
}
